@media (min-height: 901px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 500px !important;
  }
}
@media (max-height: 900px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 500px !important;
  }
}

@media (max-height: 850px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 450px !important;
  }
}

@media (max-height: 790px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 400px !important;
  }
}

@media (max-height: 790px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 350px !important;
  }
}

@media (max-height: 600px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    height: 300px !important;
  }
}

@media (max-height: 500px) {
  .setHeight {
    animation: linear;
    transition: 0.5s;
    margin-left: 5%;
    width: 90% !important;
    height: 250px !important;
  }

}

p {
  text-align:center;
}
